body, html {
    height: 100%;
    width: 100%;
    font-weight: 10;
    margin: 0px;
  }
.card {
    /* max-width: 280px; */
    display: flex;
    flex: 0 1 300px;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    width: fit-content;
    text-align: center;
    font-family: arial;
    margin: 2%;
    background-color: orange;
    min-height: 331px;
}
.card:nth-child(even){
    background-color: white;
    color: orange;
}
.blog-image {
    max-width : 300px;
    max-height: 220px;
}
.post-heading {
    font-size: 20px;
    font-weight: 500;
    color: rgb(87, 84, 84);
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 0;
    text-align: center;
}
.post-heading:nth-child(even) {
    color: inherit;
}
.heart-logo {
    margin-right: 0px;
    padding: 3px 3px 1px 5px;
    height: 1.7rem;
    align-self: flex-end;
}
.heart-logo:nth-child(odd) {
    background-color: inherit;
}
.ratings span {
    padding-left: 1rem;
    /* color: rgb(56, 55, 55); */
    color: inherit;
    font-weight: 700;
    background-color: inherit;
}
.rating {
    justify-content: center;
}
.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
}