body, html {
    height: 100%;
    width: 100%;
    font-weight: 10;
    margin: 0px;
  }
.card {
    /* max-width: 280px; */
    display: flex;
    flex-basis: 300px;
    flex-shrink: 1;
    width: fit-content;
    align-self: flex-start;
    text-align: center;
    font-family: arial;
    margin: 2%;
    background-color: white;
    flex-direction: column;
    height: 331px;
}
  .blog-image {
    max-width : 300px;
    max-height: 220px;
}
.post-heading {
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
    text-align: center;
}
.heart-logo {
    float: right;
    padding: 3px 10px 10px 5px;
    width: 8%;
}
.ratings {
    float:left;
    padding-left: 1rem;
    color: gray;
    font-weight: 700;
    font-size: 1.5em;
}
.card-footer {
    background-color: inherit;
}